@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --bgBlack: #000000;
    --bgBlue1: #1DABDC;
    --bgBlue2: #68C7E7;
    --bgBlue3: #B3E3F3;
    --bgWhite: #FFFFFF;
    --bgLight: #ffffec;
    --bgDark: #343330;
    --trTime: 0.5s;
    --bgColor: #04195f;
}

#root {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    min-height: 100vh;
}

body {
    /* font-family: 'Centra', sans-serif !important;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: var(--bgWhite) !important;
    background: linear-gradient(180deg, var(--bgBlack) 0%, var(--bgBlue1) 25%, var(--bgBlue2) 50%, var(--bgBlue1) 75%, var(--bgDark) 100%); */
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background: #274656;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: #01111a;
    border-radius: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background: #274656;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: #01111a;
    border-radius: 100px;
}